{% extends 'Doctors/base.html' %} {% load static %} {% block content %}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Appointments
            </li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Appointments</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
        <!-- Profile Sidebar -->
        <div class="profile-sidebar">
          <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
              <a href="#" class="booking-doc-img">
                <img
                  src="{% static 'assets/img/doctors/doctor-thumb-02.jpg' %}"
                  alt="User Image"
                />
              </a>
              <div class="profile-det-info">
                <h3>Dr. Fred Ortego</h3>

                <div class="patient-details">
                  <h5 class="mb-0">BDS, MDS - Oral & Maxillofacial Surgery</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="dashboard-widget">
            <nav class="dashboard-menu">
              <ul>
                <li>
                  <a href="{% url 'doctors:Doctordashboard' %}">
                    <i class="fas fa-columns"></i>
                    <span>Dashboard</span>
                  </a>
                </li>
                <li class="active">
                  <a href="{% url 'doctors:DoctorAppointments' %}">
                    <i class="fas fa-calendar-check"></i>
                    <span>Appointments</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'doctors:DoctorPatients' %}">
                    <i class="fas fa-user-injured"></i>
                    <span>My Patients</span>
                  </a>
                </li>

                <li>
                  <a href="{% url 'doctors:DoctorProfile' %}">
                    <i class="fas fa-user-cog"></i>
                    <span>Profile Settings</span>
                  </a>
                </li>

                <li>
                  <a href="{% url 'doctors:passwordchange' %}">
                    <i class="fas fa-lock"></i>
                    <span>Change Password</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'accounts:logout' %}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /Profile Sidebar -->
      </div>

      <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="appointments">
          <!-- Appointment List -->
          <div class="appointment-list">
            <div class="profile-info-widget">
              <a href="patient-profile.html" class="booking-doc-img">
                <img
                  src="{% static 'assets/img/patients/patient.jpg' %}"
                  alt="User Image"
                />
              </a>
              <div class="profile-det-info">
                <h3><a href="patient-profile.html">George Anderson</a></h3>
                <div class="patient-details">
                  <h5><i class="far fa-clock"></i> 14 Nov 2019, 10.00 AM</h5>
                  <h5>
                    <i class="fas fa-map-marker-alt"></i> Newyork, United States
                  </h5>
                  <h5><i class="fas fa-envelope"></i> richard@example.com</h5>
                  <h5 class="mb-0">
                    <i class="fas fa-phone"></i> +1 923 782 4575
                  </h5>
                </div>
              </div>
            </div>
            <div class="appointment-action">
              <a
                href="#"
                class="btn btn-sm bg-info-light"
                data-toggle="modal"
                data-target="#appt_details"
              >
                <i class="far fa-eye"></i> View
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                <i class="fas fa-check"></i> Accept
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                <i class="fas fa-times"></i> Cancel
              </a>
            </div>
          </div>
          <!-- /Appointment List -->

          <!-- Appointment List -->
          <div class="appointment-list">
            <div class="profile-info-widget">
              <a href="patient-profile.html" class="booking-doc-img">
                <img
                  src="{% static 'assets/img/patients/patient1.jpg' %}"
                  alt="User Image"
                />
              </a>
              <div class="profile-det-info">
                <h3><a href="patient-profile.html">Megan Bird </a></h3>
                <div class="patient-details">
                  <h5><i class="far fa-clock"></i> 12 Nov 2019, 5.00 PM</h5>
                  <h5>
                    <i class="fas fa-map-marker-alt"></i> North Carolina, United
                    States
                  </h5>
                  <h5>
                    <i class="fas fa-envelope"></i> charlenereed@example.com
                  </h5>
                  <h5 class="mb-0">
                    <i class="fas fa-phone"></i> +1 828 632 9170
                  </h5>
                </div>
              </div>
            </div>
            <div class="appointment-action">
              <a
                href="#"
                class="btn btn-sm bg-info-light"
                data-toggle="modal"
                data-target="#appt_details"
              >
                <i class="far fa-eye"></i> View
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                <i class="fas fa-check"></i> Accept
              </a>
              <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                <i class="fas fa-times"></i> Cancel
              </a>
            </div>
          </div>
          <!-- /Appointment List -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->

{% endblock content %}
