{% extends 'Patient/base.html' %}
{% load static %}


{% block content %}
<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'doctors:Doctordashboard' %}">Update Profile</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Update Profile
            </li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Update Profile</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
        <!-- Profile Sidebar -->
        {% comment %} <div class="profile-sidebar">
          <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
              <a href="#" class="booking-doc-img">
                <img
                  src="{% static 'assets/img/doctors/doctor-thumb-02.jpg' %}"
                  alt="User Image"
                />
              </a>
              <div class="profile-det-info">
                <h3>Dr. Fred Ortego</h3>

                <div class="patient-details">
                  <h5 class="mb-0">BDS, MDS - Oral & Maxillofacial Surgery</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="dashboard-widget">
            <nav class="dashboard-menu">
              <ul>
                <li>
                  <a href="{% url 'doctors:Doctordashboard' %}">
                    <i class="fas fa-columns"></i>
                    <span>Dashboard</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'doctors:DoctorAppointments' %}">
                    <i class="fas fa-calendar-check"></i>
                    <span>Appointments</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'doctors:DoctorPatients' %}">
                    <i class="fas fa-user-injured"></i>
                    <span>My Patients</span>
                  </a>
                </li>

                <li class="active">
                  <a href="{% url 'doctors:DoctorProfile' %}">
                    <i class="fas fa-user-cog"></i>
                    <span>Profile Settings</span>
                  </a>
                </li>

                <li>
                  <a href="{% url 'doctors:passwordchange' %}">
                    <i class="fas fa-lock"></i>
                    <span>Change Password</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'accounts:logout' %}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div> {% endcomment %}
        <!-- /Profile Sidebar -->
      </div>
      <div class="col-md-7 col-lg-8 col-xl-9">
        <!-- Basic Information -->
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Basic Information</h4>
            <div class="row form-row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="change-avatar">
                    <div class="profile-img">
                      <img
                        src="{% static 'assets/img/profile.png' %}"
                        alt="User Image"
                      />
                    </div>
                    <div class="upload-img">
                      <div class="change-photo-btn">
                        <span><i class="fa fa-upload"></i> Upload Photo</span>
                        {{form.profile_image}}
                      </div>
                      <small class="form-text text-muted"
                        >Allowed JPG, GIF or PNG. Max size of 2MB</small
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Address <span class="text-danger">*</span></label>
                  {{form.Address}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Mobile <span class="text-danger">*</span></label>
                  {{form.Mobile}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>city <span class="text-danger">*</span></label>
                  {{form.city}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>District <span class="text-danger">*</span></label>
                  {{form.District}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Country</label>
                  {{form.Country}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Gender</label>
                  {{form.Gender}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-0">
                  <label>Date of Birth</label>
                  {{form.Date_Of_Birth}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Basic Information -->

        <div class="submit-section submit-btn-bottom">
          <button type="submit" class="btn btn-primary submit-btn">
            Save Changes
          </button>
        </div>

        
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->

{% endblock content %}